body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.boardRow:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fcab97;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbdNavigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.gameInfo {
  margin-left: 20px;
}

.move-button {
  margin-top: 10px;
  background-color:    #42c4ff;
  border-top-color:    #205f7c;
  border-right-color:  #205f7c;
  border-left-color:   #205f7c;
  border-bottom-color: #205f7c;
}

.move-button:hover {
  background-color: #2f8bb5;
}
